body {
    background: url('https://phonoteka.org/uploads/posts/2021-04/1618325470_46-phonoteka_org-p-krasivii-temnii-fon-dlya-fotoshopa-46.jpg') no-repeat ;
    /* background-repeat: no-repeat; */
    background-size: cover
}     

.but {
    background-color: thistle;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    width: 55px;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 5px;
    height: 30px;
}
input {
    background-color: whitesmoke;
    font-size: 17px;
}
ol {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
li {
    width: 220px ;
    color: white;
    border: white solid 5px;
    border-radius: 15px;
    padding: 20px;
    margin-top:-10px;
    height: 275px;
}
li p {
    width: 200px;
    margin-left: 8px;
    
}
li h4 {
    width: 200px;
    margin-left: 8px;
}
ol {
    display: flex;
    justify-content: space-around;
}