body {
    background: url('https://gamerwall.pro/uploads/posts/2022-03/1648193745_4-gamerwall-pro-p-gadzheti-fon-krasivie-6.jpg') no-repeat ;
    /* background-repeat: no-repeat; */
    background-size: cover
}           

.link-dark:hover{
    color: deepskyblue;
}