body {
    background: url('https://img.freepik.com/free-vector/paper-style-white-monochrome-background_52683-66443.jpg') no-repeat ;
    /* background-repeat: no-repeat; */
    background-size: cover
}     