body {
    background: url('https://kartinkin.net/uploads/posts/2021-01/1611216111_8-p-belii-fon-dlya-logotipa-9.jpg') no-repeat ;
    /* background-repeat: no-repeat; */
    background-size: cover
}     