body {
    background: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1614454956_3-p-zadnii-fon-temnii-3.jpg') no-repeat ;
    /* background-repeat: no-repeat; */
    background-size: cover
}     

.but {
    background-color: lavenderblush;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    width: 55px;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 5px;
    height: 30px;
}
input {
    background-color: lightgrey;
    font-size: 15px;
}

/* .lap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    width: 585px;
    margin-left: 67px;
    margin-top: 20px;
} */

/* ol{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    width: 585px;
    margin-left: 67px;
    margin-top: 20px;
} */
/* .ase{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
.ase{
    display:inline-block
} */
ol {
    display: flex;
    justify-content: center;
}
li {
    width: 220px ;
    color: white;
    border: white solid 5px;
    border-radius: 15px;
    padding: 20px;
    margin-top:-10px;
    height: 275px;
}
li p {
    width: 200px;
    margin-left: 8px;
    
}
li h4 {
    width: 200px;
    margin-left: 8px;
}
ol {
    display: flex;
    justify-content: space-around;
}